<%= form_for(@bus_boarding) do |f| %>
  <% if @bus_boarding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus_boarding.errors.count, "error") %> prohibited this bus_boarding from being saved:</h2>

      <ul>
      <% @bus_boarding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stop_id %><br>
    <%= f.text_field :stop_id %>
  </div>
  <div class="field">
    <%= f.label :on_street %><br>
    <%= f.text_field :on_street %>
  </div>
  <div class="field">
    <%= f.label :cross_street %><br>
    <%= f.text_field :cross_street %>
  </div>
  <div class="field">
    <%= f.label :routes %><br>
    <%= f.text_field :routes %>
  </div>
  <div class="field">
    <%= f.label :boardings %><br>
    <%= f.text_field :boardings %>
  </div>
  <div class="field">
    <%= f.label :alightings %><br>
    <%= f.text_field :alightings %>
  </div>
  <div class="field">
    <%= f.label :month_beginning %><br>
    <%= f.datetime_select :month_beginning %>
  </div>
  <div class="field">
    <%= f.label :daytype %><br>
    <%= f.text_field :daytype %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
